<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie6" lang="zh-cmn-Hans"> <![endif]-->
<!--[if IE 7]>         <html class="ie7" lang="zh-cmn-Hans"> <![endif]-->
<!--[if IE 8]>         <html class="ie8" lang="zh-cmn-Hans"> <![endif]-->
<!--[if IE 9]>         <html class="ie9" lang="zh-cmn-Hans"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="zh-cmn-Hans"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="虎牙琦玉英雄联盟直播，琦玉与您分享英雄联盟游戏乐趣。"/>
    <meta name="Keywords" content="琦玉,英雄联盟直播"/>
    <title>琦玉英雄联盟直播_琦玉视频直播 - 虎牙直播</title>
    <link rel='canonical' href='http://www.huya.com/402608413'>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/room/css/auto_combine_1c4d7_0240f11.css">
    <!--HEAD_END-->
    <style type="text/css">
        .on-normal .chat-room__tab {
            width:50%;
        }
    </style>
    <script data-fixed="true">!function(n){n.loadScript(["http://szhuodong.duowan.com/feq/huya/yy-f2e-header-huya.min"])}(function(){function n(n){var e=t(n);document.write(e)}function t(n){for(var t,r="",c=0;t=n[c];c++)r+=e(t);return r}function e(n){var t=[unescape("%3Cscript%20type%3D%22text/javascript%22%20src%3D%22"),"",unescape("%22%3E%3C/script%3E")],e=new Date;return e.setSeconds(0),e.setMilliseconds(0),e=e.getTime(),n+="?t_="+e,t[1]=n,t.join("")}return{loadScript:function(t){t&&t.length&&t instanceof Array&&n(t)}}}());</script>
    <script data-fixed="true">
        var flashTime = new Date().getTime();
        var reportPageView = 'room';
        var indexUrl = "http://www.huya.com/";
        var APP_URL = "http://www.huya.com/";
        var l_p = '481134177';
        var YYID = '402608413';
        var liveRoomConfig = {
            "activityID" : "4673123",
            "isNotLive" : "",
            "roomTitle" : "琦玉老师：D1王者局全能小王子",
            "roomNickname" : "琦玉",
            "privateHost": "402608413",
            "gameFullName": "英雄联盟",
            "avatarImg" : "http://huyaimg.dwstatic.com/avatar/1060/8d/10580148a8daebfd1b29327edc7ede_180_135.jpg?1484947542"
        }
        var hyPlayerConfig = {
            "html5" : 1,
            "liveRoomGid" : "1",
            "iSourceType" : "0" || 0,
            "screenType" : "0" || 0,
            "WEBYYHOST" : "http://weblbs.yystatic.com/",
            "WEBYYSWF" : "jsscene",
            "WEBYYFROM" : "",
            "vappid" : 10057,
            "liveCompatibleFlag" : "0",
            "args" : {
                "chTopId" : "58969009",
                "subChId" : "2563462062"

            },
            "assets": {
                "vplayer_css" : "http://a.dwstatic.com/huya/h5player/room/1701231517/vplayer.css",
                "h5_sdk_js" : "http://a.dwstatic.com/huya/h5player/sdk/h5player.min.1702061725.js",
                "h5_sdk_hls_js" : "http://a.dwstatic.com/huya/h5player/sdk/hlsplayer.js",
                "vplayer_taf_js" : "http://a.dwstatic.com/huya/h5player/room/1701231517/vplayer_taf.js",
                "vplayer_js" : "http://a.dwstatic.com/huya/h5player/room/1701231517/vplayer.js",
                "flash_url" : "http://hyplayer.dwstatic.com/v3.1_17020702/main.swf"
            }
        }

        var l_u = (function(){
            var arr = document.cookie.match(new RegExp("(^| )yyuid=([^;]*)(;|$)"));
            if (arr != null) return unescape(arr[2]);
            return '';
        })();
    </script>
</head>
<body class="on-normal">


<!-- S 正文主体内容 -->
<div class="main-wrap" id="J_mainWrap">
    <div id="main_col">
        <div class="main-room" id="J_mainRoom">
            <div class="room-hd clearfix">
                <div class="host-pic">
                <span class="pic-clip">
                    <img id="avatar-img" src="picture/10580148a8daebfd1b29327edc7ede_180_135.jpg" alt="琦玉">
                </span>
                </div>
                <div class="host-info">
                    <h1 class="host-title">琦玉老师：D1王者局全能小王子</h1>
                    <div class="host-detail">

                        <span class="host-level" style="background-position:0 -285px"></span>
                        <span class="host-name" title="琦玉">琦玉</span>
                        <span class="open-souhu clickstat" eid="click/zhibo/shouhu" eid_desc="点击/直播间/守护">守护主播</span>
                        
    <span class="host-channel">
    <i class="host-busstype-icon"></i>
    <a class="host-spl clickstat" eid="click/zhibo/zbxx/pldj" eid_desc="点击/直播间/主播信息/品类" href="http://www.huya.com/g/100023" target="_blank"> 网游竞技</a> <span class="host-arrow"></span> <a target="_blank" href="http://www.huya.com/g/lol" class="host-spl clickstat" eid="click/zhibo/zbxx/yxdj" eid_desc="点击/直播间/主播信息/游戏">英雄联盟</a>
    </span>
                        <span class="host-spectator"><i class="g-icon icon-host"></i><em class="host-spl" id="live-count">52,363</em></span>
                    </div>
                </div>
                <div class="host-control">
                    <div class="illegal-report clickstat" eid="click/zhibo/jubao" eid_desc="点击/直播间/举报">
                        <em class="illegal-icon"></em>
                        <p>举报</p>
                    </div>

                    <div class="share-entrance" id="share-entrance">
                        <em class="share-entrance-icon"></em>
                        <p>分享</p>
                        <div class="entrance-expand" id="pop-box-share">

                        </div>
                    </div>
                    <div class="btn-subscribe subscribe-entrance">
                        <div class="subscribe-control clickstat" id="yyliveRk_game_newsBut" eid="click/zhibo/book" eid_desc="点击/直播间/订阅"><em></em>订阅</div>
                        <em class="sub-arrow"></em>
                        <div id="activityCount">2982</div>
                        <div class="entrance-expand subscribe-expand" style="display:none">
                            <div class="entrance-expand-bor"></div>
                            <em class="arrow"></em>
                            <span class="entrance-expand-close" title="关闭"></span>
                            <div class="subscribe-layer-wrap">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="host-notice">
                    <div class="notice-tit" title="主播公告"></div>
                    <div class="notice-cont">欢迎来到 琦玉 的直播间</div>
                </div>
            </div>
            <div class="room-player-wrap">
                <div class="room-player-main" id="J_playerMain">
                    <div class="room-player" id="liveRoomObj">
                    </div>

                </div>
                <div class="room-sidebar">

                    <!-- 周贡献榜s -->
                    <div class="week-rank" id="J-weekRank">
                        <div class="week-rank__hd clearfix" >
                            <span class="week-rank__btn active" id="js-week-btn">周贡榜</span>
                            <span class="week-rank__btn" id="js-fans-btn">粉丝团</span>
                        </div>
                        <div class="week-rank__bd">
                            <div class="week-rank__unit" style="display:block;">
                                <ul class="clearfix" id="week-rank-list">
                                    <div class="chat-loading"></div>
                                </ul>
                            </div>

                            <div class="week-rank__unit">
                                <ul class="clearfix" id="fans-list">
                                    <div class="chat-loading"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 周贡献榜e -->
                    <div class="chat-room" id="chatRoom">
                        <div class="chat-room__hd">
                            <span class="chat-room__tab current" tab_index="3">互动聊天</span>
                            <span class="chat-room__tab clickstat" tab_index="4" eid="点击/直播间/贵宾席" eid_desc="click/zhibo/vip">现场贵宾(...)</span>                                             </div>
                        <div class="chat-room__bd chat-room__panel chat-room__bd3" >
                            <!-- S 活动 -->
                            <div class="hd-wrap" id="hd-wrap">
                                <div class="hd-wrap-herald">
                                    <a href="http://hd.huya.com/201611hyqmx/" target="_blank">详情</a>
                                </div>
                                <div class="hd-panel-main js-panel-normal">
                                    <div class="hd-panel-hd">
                                        <a href="http://hd.huya.com/201612ndzjx/" class="panel-title" target="_blank" title="点击进入专题"></a>
                                        <span class="panel-date js-pannel-date"></span>
                                    </div>
                                    <div class="hd-panel-bd clearfix">
                                        <div class="hd-panel-left"></div>
                                        <div class="hd-panel-right"></div>
                                    </div>
                                </div>
                                <div class="hd-panel-main js-panel-end">
                                    <div class="hd-panel-hd">
                                        <a href="http://hd.huya.com/201612ndzjx/" class="panel-title" target="_blank" title="点击进入专题"></a>
                                        <span class="panel-date js-pannel-date">N进8</span>
                                    </div>
                                    <div class="hd-panel-bd">
                                        <div class="result-box">
                                            <div class="anchor-info clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hd-panel-main hd-panel-main--out">
                                    <div class="hd-panel-hd">
                                        <a href="http://hd.huya.com/201612ndzjx/" class="panel-title" target="_blank" title="点击进入专题"></a>
                                        <span class="panel-date js-pannel-date">助力团</span>
                                    </div>
                                    <div class="hd-panel-bd clearfix">
                                        <div class="hd-panel-left"></div>
                                        <div class="hd-panel-right"></div>
                                    </div>
                                </div>
                                <div class="hd-rank-wrap">
                                    <div class="hd-rank">
                                        <div class="hd-rank-tab">
                                            <span class="on"></span>
                                            <span>年度主播榜</span>
                                        </div>
                                        <div class="hd-tab-content-wrap">
                                            <div class="hd-tab-content" style="visibility: visible;">
                                                <div class="hd-tab-pan-tit">
                                                    <span class="pan-tit-1">排名</span>
                                                    <span class="pan-tit-2">主播</span>
                                                    <span class="pan-tit-3">小时暴涨</span>
                                                </div>
                                                <ul class="hd-tab-pan-list"></ul>
                                            </div>
                                            <div class="hd-tab-content" style="visibility: hidden;">
                                                <div class="hd-tab-nav clearfix">
                                                    <a class="hd-tab-btn hd-tab-btn--first">最佳游戏<br>男主播</a>
                                                    <a class="hd-tab-btn">最佳游戏<br>女主播</a>
                                                    <a class="hd-tab-btn">最佳娱乐<br>主播</a>
                                                    <a class="hd-tab-btn">最佳游戏<br>新人</a>
                                                    <a class="hd-tab-btn hd-tab-btn--last">最佳娱乐<br>新人</a>
                                                </div>
                                                <div class="hd-tab-rank-content">
                                                    <!-- <div class="hd-tab-rank-unit"></div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hd-tab-foot">
                                            <p></p>
                                            <div class="hd-tab-foot-bg"></div>
                                        </div>
                                    </div>
                                    <span class="hd-rank-btn hd-rank-zk"></span>
                                </div>
                            </div>                        <!-- E 活动 -->
                            <!-- S 聊天栏 -->
                            <div id="watchChat_pub" class="chat-room__scroll">
                                <div class="scroll_bar">
                                    <span class="scroll_move"></span>
                                </div>
                                <div class="chat-room__wrap" id="chat-room__wrap">
                                    <ul class="chat-room__list" id="chat-room__list">

                                    </ul>
                                </div>
                            </div>
                            <!-- E 聊天栏 -->
                            <a id="more-msg" href="#" class="load-more-msg" >
                                <i class="arrow"></i>
                                <span>有更多新的消息</span>
                            </a>
                            <!-- 中奖信息 -->
                            <div id="system-msg" style="display:none"><p>请勿轻信任何主播或个人提供的兼职信息，谨防受骗 <span class="close-system-btn" title="关闭">x</span></p></div>
                        </div>
                        <div class="chat-room__bd chat-room__other chat-room__bd4" style="visibility:hidden;">
                            <div class="current-peo-tit"><span class="current-peo-tip" id="js-current-peo-tip">开通贵族或守护成为贵宾</span><span class="open-guizu clickstat" eid="click/zhibo/guizu" eid_desc="点击/直播间/贵族">成为贵族</span></div>
                            <div class="chat-roomOther__scroll">
                                <ul id="chat-current-peo">
                                    <div style='text-align: center;margin-top: 50px; color:#999999'>贵宾正在路上</div>
                                </ul>
                            </div>
                            <div class="current-peo-foot"><span></span></div>
                        </div>
                    </div>
                    <div id="tipsOrchat" >
                        <div class="chat-room__ft">
                            <div class="chat-emot" id="J_chatEmot"></div>
                            <div class="chat-emotLnk" id="J_chatEmotLnk"></div>
                            <div class="room-panel color-box" id="J-room-color-box">
                                <i class="room-panel-arrow"></i>
                                <div class="room-panel-hd">
                                    <h2 class="room-panel-title">弹幕颜色</h2>
                                </div>
                                <div class="room-panel-bd">
                                    <ul class="color-list clearfix" id="J-color-list"></ul>
                                </div>
                            </div>

                            <div class="room-panel room-speaking-box" id="J-room-speaking-box">
                                <i class="room-panel-arrow"></i>
                                <div class="room-panel-hd">
                                    <h2 class="room-panel-title">模式选择</h2>
                                </div>
                                <div class="room-panel-bd">
                                    <div class="room-speaking-unit clearfix">
                                        <div class="room-speaking-hd">位置：</div>
                                        <div class="room-speaking-bd">
                                            <div class="room-speaking-position">
                                                <ul class="room-select-list clearfix"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="room-speaking-unit clearfix">
                                        <div class="room-speaking-hd">大小：</div>
                                        <div class="room-speaking-bd">
                                            <div class="room-speaking-font">
                                                <ul class="room-font-list"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-room__ft__pannel">
                                <div class="room-chat-tools">
                                    <i class="room-chat-tool room-chat-tool-smile" id="J_inputEmot"></i></i>
                                    <i class="room-chat-tool room-chat-tool-color" id="J-room-chat-color"></i>
                                    <i class="room-chat-tool room-chat-tool-font" id="J-room-chat-font"></i>
                                </div>
                                <span class="msg-input-num">0/30</span>
                            </div>
                            <div class="chat-room__ft__chat">
                                <div class="chatNotice" id="pubNoticMe">
                                    <p></p>
                                    <a href="#" class="closeBtn">&times;</a>
                                </div>
                                <a class="host-pic" href="javascript:void(0)" id="chatHostPic"></a>
                                <div class="chat-room__input">
                                    <div class="msg-input">
                                        <textarea rows="2" id="pub_msg_input"></textarea>
                                    </div>
                                    <div class="no-login-tip" style="display:none"><span>登录</span>发弹幕，免费领银豆！</div>
                                    <span class="btn-sendMsg hiido_stat" id="msg_send_bt" hiido_code="10004279">发送</span>
                                </div>
                            </div>
                        </div>                </div>
                </div>
            </div>
            <div class="youlike">
                <h2 class="youlike-title">猜你喜欢</h2>
                <ul id="youlike-list" class="clearfix recom-list">
                    <li class="game-live-item">
                        <a href="http://www.huya.com/75606724" class="video-info new-clickstat" target="_blank" report='{"eid":"click/position","position":"room/cnxh/1","game_id":"1","ayyuid":"101321187"}'>
                            <img class="pic" data-original="http://screenshot.dwstatic.com/yysnapshot/0efe97611fd5d7f4a1705a4e4a251a462f17eee0?imageview/4/0/w/338/h/190/blur/1" src="picture/default_live.jpg" alt="虎牙丶迷途的直播" title="虎牙丶迷途的直播">
                            <div class="item-mask"></div>
                            <i class="btn-link__hover_i"></i>
                        </a>
                        <a href="http://www.huya.com/75606724" class="title new-clickstat"report='{"eid":"click/position","position":"room/cnxh/1","game_id":"1","ayyuid":"101321187"}' title="宇宙第一女枪 上中下 凯瑞" target="_blank">宇宙第一女枪 上中下 凯瑞</a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="http://huyaimg.dwstatic.com/avatar/1010/3f/af84a2b9aa9d41fa868a55d8a26b51_180_135.jpg" src="picture/default_profile.jpg" alt="虎牙丶迷途" title="虎牙丶迷途">
            <i class="nick" title="虎牙丶迷途">虎牙丶迷途</i>
        </span>
                <span class="game-type fr"><a target="_blank" href="http://www.huya.com/g/lol" title="英雄联盟">英雄联盟</a></span>
                <span class="num"><i class="num-icon"></i><i class="js-num">3.4万</i></span>
    </span>
                    </li>

                    <li class="game-live-item">
                        <a href="http://www.huya.com/1935995640" class="video-info new-clickstat" target="_blank" report='{"eid":"click/position","position":"room/cnxh/2","game_id":"1","ayyuid":"1698066439"}'>
                            <img class="pic" data-original="http://screenshot.dwstatic.com/yysnapshot/7e587ee8041aa57fd56a247458d1a92b2c076058?imageview/4/0/w/338/h/190/blur/1" src="picture/default_live.jpg" alt="寂寞的直播" title="寂寞的直播">
                            <div class="item-mask"></div>
                            <i class="btn-link__hover_i"></i>
                        </a>
                        <a href="http://www.huya.com/1935995640" class="title new-clickstat"report='{"eid":"click/position","position":"room/cnxh/2","game_id":"1","ayyuid":"1698066439"}' title="国服第一小炮 电一王者局" target="_blank">国服第一小炮 电一王者局</a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="http://huyaimg.dwstatic.com/avatar/1068/ab/e2560147c1ffb647a0c5ab3554e88e_180_135.jpg" src="picture/default_profile.jpg" alt="寂寞" title="寂寞">
            <i class="nick" title="寂寞">寂寞</i>
        </span>
                <span class="game-type fr"><a target="_blank" href="http://www.huya.com/g/lol" title="英雄联盟">英雄联盟</a></span>
                <span class="num"><i class="num-icon"></i><i class="js-num">4.2万</i></span>
    </span>
                    </li>

                    <li class="game-live-item">
                        <a href="http://www.huya.com/bashen" class="video-info new-clickstat" target="_blank" report='{"eid":"click/position","position":"room/cnxh/3","game_id":"1","ayyuid":"73274903"}'>
                            <img class="pic" data-original="http://screenshot.dwstatic.com/yysnapshot/a331db1d7afa58cff0ec87e4265bb58a32e83512?imageview/4/0/w/338/h/190/blur/1" src="picture/default_live.jpg" alt="第一蛮王八神的直播" title="第一蛮王八神的直播">
                            <em class="tag tag-recommend">大神推荐</em>        <div class="item-mask"></div>
                            <i class="btn-link__hover_i"></i>
                        </a>
                        <a href="http://www.huya.com/bashen" class="title new-clickstat"report='{"eid":"click/position","position":"room/cnxh/3","game_id":"1","ayyuid":"73274903"}' title="史上最强蛮王 能抗住我三刀的只有真眼" target="_blank">史上最强蛮王 能抗住我三刀的只有真眼</a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="http://huyaimg.dwstatic.com/avatar/1060/6d/3b6b0db6cf837cf5c4981f1219febf_180_135.jpg" src="picture/default_profile.jpg" alt="第一蛮王八神" title="第一蛮王八神">
            <i class="nick" title="第一蛮王八神">第一蛮王八神</i>
        </span>
                <span class="game-type fr"><a target="_blank" href="http://www.huya.com/g/lol" title="英雄联盟">英雄联盟</a></span>
                <span class="num"><i class="num-icon"></i><i class="js-num">15.4万</i></span>
    </span>
                    </li>

                    <li class="game-live-item">
                        <a href="http://www.huya.com/qiqi77dada" class="video-info new-clickstat" target="_blank" report='{"eid":"click/position","position":"room/cnxh/4","game_id":"1","ayyuid":"334415371"}'>
                            <img class="pic" data-original="http://screenshot.dwstatic.com/yysnapshot/8ad7f9719832f0a3381e7a379a2bf99e70444062?imageview/4/0/w/338/h/190/blur/1" src="picture/default_live.jpg" alt="聆听-月野兔的直播" title="聆听-月野兔的直播">
                            <div class="item-mask"></div>
                            <i class="btn-link__hover_i"></i>
                        </a>
                        <a href="http://www.huya.com/qiqi77dada" class="title new-clickstat"report='{"eid":"click/position","position":"room/cnxh/4","game_id":"1","ayyuid":"334415371"}' title="一万把女瑞文，泳池派对瑞文" target="_blank">一万把女瑞文，泳池派对瑞文</a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="http://huyaimg.dwstatic.com/avatar/1081/57/de09dddc683c6049f6a4686f57a72b_180_135.jpg" src="picture/default_profile.jpg" alt="聆听-月野兔" title="聆听-月野兔">
            <i class="nick" title="聆听-月野兔">聆听-月野兔</i>
        </span>
                <span class="game-type fr"><a target="_blank" href="http://www.huya.com/g/lol" title="英雄联盟">英雄联盟</a></span>
                <span class="num"><i class="num-icon"></i><i class="js-num">3.9万</i></span>
    </span>
                    </li>

                    <li class="game-live-item">
                        <a href="http://www.huya.com/lafeng" class="video-info new-clickstat" target="_blank" report='{"eid":"click/position","position":"room/cnxh/5","game_id":"1","ayyuid":"1009333046"}'>
                            <img class="pic" data-original="http://screenshot.dwstatic.com/yysnapshot/86fadc5e78908d6af736f7ac409227eeaf817d7f?imageview/4/0/w/338/h/190/blur/1" src="picture/default_live.jpg" alt="拉风龙的直播" title="拉风龙的直播">
                            <em class="tag tag-recommend">大神推荐</em>        <div class="item-mask"></div>
                            <i class="btn-link__hover_i"></i>
                        </a>
                        <a href="http://www.huya.com/lafeng" class="title new-clickstat"report='{"eid":"click/position","position":"room/cnxh/5","game_id":"1","ayyuid":"1009333046"}' title="帮水友上王者,目前钻石50胜2负" target="_blank">帮水友上王者,目前钻石50胜2负</a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="http://huyaimg.dwstatic.com/avatar/1030/b7/95f4e8360430103ed697f829661272_180_135.jpg" src="picture/default_profile.jpg" alt="拉风龙" title="拉风龙">
            <i class="nick" title="拉风龙">拉风龙</i>
        </span>
                <span class="game-type fr"><a target="_blank" href="http://www.huya.com/g/lol" title="英雄联盟">英雄联盟</a></span>
                <span class="num"><i class="num-icon"></i><i class="js-num">10.8万</i></span>
    </span>
                    </li>

                    <li class="game-live-item">
                        <a href="http://www.huya.com/hujiangjun" class="video-info new-clickstat" target="_blank" report='{"eid":"click/position","position":"room/cnxh/6","game_id":"1","ayyuid":"304582356"}'>
                            <img class="pic" data-original="http://screenshot.dwstatic.com/yysnapshot/5d8bdd926e71fac9f501fdba0cedbec1b336fcac?imageview/4/0/w/338/h/190/blur/1" src="picture/default_live.jpg" alt="虎神-王者武器的直播" title="虎神-王者武器的直播">
                            <em class="tag tag-recommend">魅力新星</em>        <div class="item-mask"></div>
                            <i class="btn-link__hover_i"></i>
                            <em class="tag tag-blue">蓝光</em>    </a>
                        <a href="http://www.huya.com/hujiangjun" class="title new-clickstat"report='{"eid":"click/position","position":"room/cnxh/6","game_id":"1","ayyuid":"304582356"}' title="世界上段位最高的贾克斯！" target="_blank">世界上段位最高的贾克斯！</a>
    <span class="txt">
        <span class="avatar fl">
            <img data-original="http://huyaimg.dwstatic.com/avatar/1032/27/3a44c53cd62bc5e324921dc6c3e93b_180_135.jpg" src="picture/default_profile.jpg" alt="虎神-王者武器" title="虎神-王者武器">
            <i class="nick" title="虎神-王者武器">虎神-王者武器</i>
        </span>
                <span class="game-type fr"><a target="_blank" href="http://www.huya.com/g/lol" title="英雄联盟">英雄联盟</a></span>
                <span class="num"><i class="num-icon"></i><i class="js-num">10.1万</i></span>
    </span>
                    </li>


                </ul>
            </div>
            <div class="huya-video">
                <h2 class="huya-video-title">主播视频 <a href="" class="more-video" target="_blank" title="热门视频榜" alt="热门视频榜"></a></h2>
                <ul id="huya-video" class="clearfix recom-list">
                    <li style="text-align: center; margin-top: 120px;"><img src="picture/loading.gif" alt=""></li>
                </ul>
            </div>            </div>
    </div>
</div>
<!-- E 正文主体内容 -->
<div class="mod-sidebar">
    <div class="sidebar-hide">
        <ul class="sidebar-icon-list">
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat js-sub" href="http://i.huya.com/index.php?m=Subscribe" title="订阅" target="_blank" eid="click/navi/zuoce/sub" eid_desc="点击/导航/左侧导航/我的订阅">
                    <i class="sidebar-icon-sub"></i>
                    <span class="sidebar-title">订阅</span>
                </a>
            </li>
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/l" title="直播" eid="click/navi/zuoce/live" eid_desc="点击/导航/左侧导航/全部直播">
                    <i class="sidebar-icon-live"></i>
                    <span class="sidebar-title">直播</span>
                </a>
            </li>
            <li class="sidebar-icon-item">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/g" title="分类" eid="click/navi/zuoce/gametype" eid_desc="点击/导航/左侧导航/全部游戏">
                    <i class="sidebar-icon-type"></i>
                    <span class="sidebar-title">分类</span>
                </a>
            </li>
            <li class="sidebar-icon-item ">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/g/100023" title="网游" eid="click/navi/zuoce/classify1" eid_desc="点击/导航/左侧导航/classify1">
                    <i style="background-image: url('images/phpz25iel1453361963.png');"></i>
                    <span class="sidebar-title">网游</span>
                </a>
            </li>
            <li class="sidebar-icon-item ">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/g/100002" title="单机" eid="click/navi/zuoce/classify2" eid_desc="点击/导航/左侧导航/classify2">
                    <i style="background-image: url('images/phpztwcxm1453361986.png');"></i>
                    <span class="sidebar-title">单机</span>
                </a>
            </li>
            <li class="sidebar-icon-item ">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/g/100022" title="娱乐" eid="click/navi/zuoce/classify3" eid_desc="点击/导航/左侧导航/classify3">
                    <i style="background-image: url('images/php8ni1jb1453362007.png');"></i>
                    <span class="sidebar-title">娱乐</span>
                </a>
            </li>
            <li class="sidebar-icon-item ">
                <a class="sidebar-icon-link clickstat" href="http://www.huya.com/g/100004" title="手游" eid="click/navi/zuoce/classify4" eid_desc="点击/导航/左侧导航/classify4">
                    <i style="background-image: url('images/phpototvs1453362025.png');"></i>
                    <span class="sidebar-title">手游</span>
                </a>
            </li>
        </ul>
        <span id="sidebar-show-btn" class="arrow-btn clickstat" eid="click/navi/zuoce/open"  eid_desc="点击/导航/左侧导航/展开"></span>
        <a target="_blank" class="sidebar-icon-author" href="http://www.huya.com/e/zhubo">
            <i></i>
            <span>开直播</span>
        </a>
    </div>
    <div class="sidebar-show">
        <div id="sidebar-scroll">
            <div class="sidebar-show-nav">
                <a href="http://i.huya.com/index.php?m=Subscribe" class="clickstat sidebar-show-line js-sub" target="_blank" eid="click/navi/zuoce/sub" eid_desc="点击/导航/左侧导航/我的订阅"><i class="sidebar-icon-sub"></i>我的订阅<span class="subscribe-text"> (请登录)</span></a>
                <a href="http://www.huya.com/l" class="clickstat sidebar-show-line" eid="click/navi/zuoce/live" eid_desc="点击/导航/左侧导航/全部直播"><i class="sidebar-icon-live"></i> 全部直播</a>
                <a href="http://www.huya.com/g" class="clickstat sidebar-show-line" eid="click/navi/zuoce/gametype" eid_desc="点击/导航/左侧导航/全部游戏"><i class="sidebar-icon-type"></i>全部分类</a>
            </div>


            <div class="sidebar-banner" style="display:none">
                <a target="_blank" class="sidebar-banner-link clickstat" id="sidebarBanner" eid="click/push/leftnaviad" eid_desc="点击/推荐/左侧导航推荐图">
                </a>
            </div>
        </div>
        <div class="sidebar-tool">
            <a target="_blank" class="download clickstat" eid="click/navi/zuoce/xiazai" eid_desc="点击/导航/左侧导航/客户端下载" href="http://www.huya.com/download/" title="下载客户端"></a>
            <a target="_blank" class="toAnchor clickstat" eid="click/navi/zuoce/zhubo" eid_desc="点击/导航/左侧导航/我要做主播" href="http://www.huya.com//e/zhubo" title="我要直播"></a>
        </div>
        <span id="sidebar-hide-btn" class="arrow-btn clickstat" eid="click/navi/zuoce/close"  eid_desc="点击/导航/左侧导航/收起"></span>
    </div>
</div>

<script src="__PUBLIC__/room/js/jq_ud_mod_4de7709.js" data-fixed="true"></script>
<script src="__PUBLIC__/room/js/headerfunction_3857122.js" data-fixed="true"></script>
<script src="__PUBLIC__/room/js/scrollpane_51f7a10.js" data-fixed="true"></script>
<script src="__PUBLIC__/room/js/room_6092494.js" data-fixed="true"></script>
<script src="__PUBLIC__/room/js/jquery.lazyload_95128f9.js" data-fixed="true"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/room/js/room_common_970520d.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/room/js/auto_combine_943ca_0c2a77e.js"></script>
<!--BODY_END-->
<script data-fixed="true">
    var reportDescObj = {
        eid: "pageview/zhibo",
        eid_desc:"pageview/直播间"
    }
    require("app/room_main");
</script>
<!-- S 页面公用功能 -->
<script type="text/javascript" src="__PUBLIC__/room/js/sidebarfunction_7960590.js" data-fixed="true"></script>
<script type="text/javascript" data-fixed="true">
    HUYA_UTIL.getScript('http://a.dwstatic.com/huya/main/js/header_search_tip_420f603.js');
</script>
<!-- S 后台推送消息 -->
<!--[if lte IE 7]>
<script  type='text/javascript' src="__PUBLIC__/room/js/json3.min.js'></script>
<![endif]-->
<!--[if lte IE 9]>
<script type='text/javascript' src="__PUBLIC__/room/js/jquery.xdomainrequest.min.js'></script>
<![endif]-->
<script data-fixed="true">
    var PUSH_PROXY_URL="http://channelproxy.huya.com/";
    var PUSH_ENABLE=true;//推送开关
    var matchNoticeData=[];//赛事直播间预告数据
</script>
<script type='text/javascript' src="__PUBLIC__/room/js/push-min.js'></script>
<script type='text/javascript' src="__PUBLIC__/room/js/push.func-min.js'></script><!-- E 后台推送消息 -->    <!-- E 页面公用功能 -->
<!-- S 直播间异步加载模块 -->
<script id="_hiido_internal_script_id_" src="__PUBLIC__/room/js/hiido_internal.js" data-fixed="true"></script>
<script type="text/javascript" data-fixed="true">
    var _hmt = _hmt || [];
    //播放器ready完后才去加载
    TTP && TTP.ready(function () {
        var activityJS = 'http://a.dwstatic.com/huya/main/js/activity_0934a05.js';

        //订阅
        HUYA_UTIL.getScript(activityJS);

        function getScriptCache(url,callback,prop){

            var head = document.getElementsByTagName("head")[0] || document.documentElement;
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.async = true;
            script.charset = "utf-8";
            if(prop){
                for(var p in prop){
                    script.setAttribute(p,prop[p]);
                }
            }

            script.src = url;
            script.onload = script.onreadystatechange = function () {
                if (!script.readyState || /loaded|complete/.test(script.readyState)) {
                    callback && callback();
                    script.onload = script.onreadystatechange = null;
                    if (script.parentNode && !prop) {
                        script.parentNode.removeChild(script);
                    }
                }
            };
            head.insertBefore(script, null);
        }

        getScriptCache('http://szhuodong.duowan.com/s/rp/ya-huya.min.js',function(){
            zhReport({
                rso: parseQueryString(location.href)['rso'] || parseQueryString(location.href)['from'] || "",
                rso_desc: parseQueryString(location.href)['rso_desc'] || "",
                eid: reportDescObj.eid,
                eid_desc: reportDescObj.eid_desc
            });

        },{
            pro : 'huya_web',
            id : 'yaScript'
        })

        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?51700b6c722f5bb4cf39906a596ea41f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    });
</script>    <!-- E 直播间异步加载模块 -->
<script data-fixed="true">navigator.userAgent.toLocaleLowerCase().indexOf("chrome")<0&&(window.onerror=function(){try{console.log.apply(console,arguments)}catch(e){}return!TT.type}),!function(e){e.loadScript(["http://szhuodong.duowan.com/feq/huya/yy-f2e-huya.min"])}(function(){function e(t,n){var a=n[t];if(a){t++;var o=document.createElement("script");o.type="text/javascript",o.setAttribute("async","async"),o.onload=o.onreadystatechange=function(){return o.readyState&&"complete"!==o.readyState&&"loaded"!==o.readyState?!1:(o.onload=o.onreadystatechange=null,void e(t,n))};var r=new Date;r.setSeconds(0),r.setMilliseconds(0),r=r.getTime(),o.async=!0,o.src=a+"?_="+r,document.getElementsByTagName("head")[0].appendChild(o)}}return{loadScript:function(t){t&&t.length&&t instanceof Array&&e(0,t)}}}());</script>
</body>
</html>
